	
	{{\#if this}}
	{{#each this}}
	<div class="viewTitle fn-MT10">
			<table class="fn-table fn-table-intro" width="100%">
				<thead>
					<th width="105">送达方式</th>
					<th >联系地址</th>
					<th width="120">发送时间</th>
					<th width="105">是否送达</th>
					<th width="150">送达详情</th>
					<th width="150">证明文件</th>
					<th width="150">操作</th>
				</thead>
			</table>
	</div>
	<div class="view-list fn-PB20">
		<ul>
			{{\#if lassenDocumentConfirmVoList}}
				{{#each lassenDocumentConfirmVoList}}
					<li >
						<table class="fn-table  fn-table-text fn-table-data " width="100%">
							<tbody>
								<tr>
									<td width="105">{{#isEqual receiveType 'email'}}邮件{{/isEqual}}{{#isEqual receiveType 'mobile'}}短信{{/isEqual}}{{#isEqual receiveType "offline_send" }} 线下邮寄 {{/isEqual}} {{#isEqual receiveType "arrive_court"}} 到庭 {{/isEqual}}{{#isEqual receiveType "auto_confirm"}}被告已自动送达{{/isEqual}}</td>
									<td>{{receiveAddress}}</td>
									<td width="120">{{formatData 'yyyy-MM-dd HH:mm:ss' sendTime}}</td>
									<td width="105">
										{{#contains receiveType "mobile" "offline_send"  "arrive_court" "auto_confirm"}}
											{{#isEqual isReceive "y"}}是 {{else}} 否{{/isEqual}}
										{{/contains}}
									</td>
									<td width="150">
									 {{#isEqual isReceive "y"}}
										{{#noEqual receiveType "auto_confirm" }}
										    {{formatData 'yyyy-MM-dd HH:mm:ss' receiveTime}}
										{{/noEqual}}
									 {{/isEqual}}
									 {{content}}
									
									</td>
									<td width="150">
									{{\#if proofFileList}}
									{{#each proofFileList}}
									<a href="{{url}}" class="global-link fn-W75 fn-ellipsis fn-left ">{{fileName}}</a><br/>
									{{/each}}
									{{/if}}
									</td>
									<td width="150">
										<a href="/paymentorder/riskBooks.htm?securityId={{securityId}}" class="global-link">督促程序风险提示书</a>
			                      </td>
								</tr>
							</tbody>	
						</table>
					</li>
				{{/each}}
			{{else}}
				<div class="fn-TAC fn-LH30  fn-MT10">
					<i class="viewImg "></i>当前没有送达信息
				</div>
			{{/if}}
		</ul>
	</div>
	{{/each}}
    {{/if}}

