<div class="fn-BS-CCC fn-LH30  fn-PaAl10 fn-MT10">
	<table width="100%" class="fn-table fn-table-input fn-table-input-sm fn-MT10">
		<tr>
			<td width="120" align="right"><span class="global-require fn-VA1D">*</span> 合同编号：</td>
			<td>
	        	<div class="fn-MR30 kuma-form-item">
	                <input type="text" name="fact.contractNum" class="fn-input-text fn-input-text-sm fn-W220 JS-prosecute-required kuma-input" value="{{contractNum}}" data-required="true" data-errormessage-required="请输入合同编号。" maxlength="40" />
	            </div>
	        </td>
		</tr>
		<tr>
			<td align="right"><span class="global-require fn-VA1D">*</span> 合同名称：</td>
			<td>
				<div class="fn-MR30 kuma-form-item">
	                <input type="text" name="fact.contractTitle" class="fn-input-text fn-input-text-sm fn-W220 JS-prosecute-required kuma-input" value="{{contractTitle}}"
	                    data-required="true" data-errormessage-required="请输入合同名称。" maxlength="100" />
	            </div>
			</td>
		</tr>
		<tr>
			<td align="right"><span class="global-require fn-VA1D">*</span> 合同签订日期：</td>
			<td>
				<div class="fn-MR30 kuma-form-item">
	                <input type="text" name="fact.contractDate" class="fn-input-text fn-input-text-sm fn-W220 JS-prosecute-required kuma-input" data-required="true" data-errormessage-required="请选择签订日期。" readonly="readonly" value="{{contractDate}}" />
	            </div>
			</td>
		</tr>
		<tr>
			<td align="right">签订方式：</td>
			<td>
				<label>
	                <input type="radio" name="fact.signedMode" value="dataMessage" class="fn-VA2D" checked="checked" /> 数据电文
	            </label>
	            <label class="fn-ML20">
	                <input type="radio" name="fact.signedMode" value="contract" class="fn-VA2D" {{#isEqual signedMode "contract"}}checked="checked"{{/isEqual}} /> 合同书
	            </label>
	            <label class="fn-ML20">
	                <input type="radio" name="fact.signedMode" value="oral" class="fn-VA2D" {{#isEqual signedMode "oral"}}checked="checked"{{/isEqual}} /> 口头
	            </label>
			</td>
		</tr>
		<tr>
			<td align="right"><span class="global-require fn-VA1D">*</span> 贷款用途：</td>
			<td>
				<div class="fn-MR30 kuma-form-item">
	                <input type="text" name="fact.loanUse" class="fn-input-text fn-input-text-sm fn-W220 JS-prosecute-required kuma-input" 
	                    data-required="true" data-errormessage-required="请输入贷款用途。" maxlength="200" value="{{loanUse}}" />
	            </div>
			</td>
		</tr>
		<tr>
			<td align="right">说明：</td>
			<td>
				<div class="fn-MR20 kuma-form-item">
					<textarea class="JS-prosecute-required kuma-input fn-textarea fn-W100P" name="fact.Explanation" rows="6" maxlength="1000">{{Explanation}}</textarea>
				</div>
			</td>
		</tr>
	</table>
</div>