<div class="fixed-height">
<table class="table table-bordered" style="margin-bottom:0">
	<tr data-key="a" data-value="b"><th width="50">i18nKey</th><th width="50">i18nMessage</th><th width="50">zone</th></tr>
	{{#each this}}
	<tr data-key="{{i18nKey}}" data-value="{{i18nMessage}}"><td width="50">{{i18nKey}}</td><td width="50">{{i18nMessage}}</td><td width="50">{{i18n_Lang}}</td></tr>
	{{/each}}
</table>
</div>   