<div class="" style="width:{{layoutConfig.mainWidth}}px;margin:0 auto;padding-bottom:50px;">
    <div class="global-tab fn-MT10">
        <i></i><span class="fn-left">视频庭审现场</span>
        <div class="fn-FS12 fn-color-666 last-time fn-hide" id="lastTime">未开庭</div>
        <button class="btn small fn-right" id="start">开 庭</button>
        <button class="btn small fn-right" id="pause">暂停录制</button>
        <div class="fn-right fn-FS12 fn-MR10" id="pageLink">
            {{#isEqual role "ju"}}
                <span class="icon-mute"></span>可发言，<span class="icon-mute icon-mute-enabled"></span>禁言，可直接点击控制 
            {{/isEqual}}
            {{#each pageLink}}
                <a target="_blank" href="/caseDetail/trialCaseDetail.htm?tab={{key}}&securityCaseId={{../sid}}" class="global-link">{{value}}</a>
            {{/each}}
        </div>
        <div class="suit-wrap" >
            <span class="fn-color-666 fn-FS14 fn-ML10"><span class="court-name">{{courtName}}</span> <span>在线审理</span><span> <span class="suit-info fn-FS12" title="">{{caseTitle}}</span>
        </div>
    </div>
    
    <div class="main-list {{#contains role "ju" "ad"}}show-btn manage-only{{/contains}}">
        <div class="fixed-video">
            <div class="big-win" style="width:{{layoutConfig.bigVideoWidth}}px;" def-img="{{assetsLink}}/assets/img/default.jpg" quit-img="{{assetsLink}}/assets/img/quit.jpg">
                    <img style="width:764px;height:572px;overflow:hidden;" src="{{assetsLink}}/assets/img/default.jpg" />
            </div><div class="judge-wrap" style="width:{{layoutConfig.smallVideoWitch}}px">
                <div class="judge">
                    <div class="v-ju1" style="width:{{layoutConfig.smallVideoWitch}}px;height:{{layoutConfig.smallVideoHeight}}px;overflow:hidden;">
                        <img style="width:{{layoutConfig.smallVideoWitch}}px;height: 286px" src="{{assetsLink}}/assets/img/default.jpg"/>
                    </div>
                </div>
                <div class="recorder">
                    <div class="v-re1" style="width:{{layoutConfig.smallVideoWitch}}px;height:{{layoutConfig.smallVideoHeight}}px;overflow:hidden;">
                        <img style="width:{{layoutConfig.smallVideoWitch}}px;height:{{layoutConfig.smallVideoHeight}}px" src="{{assetsLink}}/assets/img/default.jpg"/>
                    </div>
                </div>
            </div>
        </div>
        <ul class="video-list clearfix">
            
        </ul>
    </div>

    <div class="global-tab fn-MT10">
        <i></i>庭审笔录直播
    </div>
    <div class="fn-clear">
        {{#isEqual role "re"}}
            <textarea name="record" id="record" cols="30" rows="10"></textarea>
        {{else}}
            <div class="recordBox">
                <iframe id="record" width="100%" height="100%"></iframe>
            </div>
        {{/isEqual}}
    </div>
    ## 确认笔录提示
    <div id="confirmRecordTitle" style="text-align:center;display:none;" class="fn-color-666 fn-MT10">
        您已经确认笔录
    </div>
    ## 确认笔录
    <div class="term" id="confirmRecordCheck">
        <input type="checkbox" id="term"> <label for="term">我已阅读笔录，确认无误</label>
        <br /><br />
        <button class="fn-btn fn-btn-primary" id="confirmRecord">确认笔录</button>
    </div>
    ##
    <div class="term" id="submitRecordUserRe">
        <button class="fn-btn fn-btn-primary" id="submitRecord">提 交</button>
        <button class="fn-btn fn-btn-primary" id="saveRecord">确认完成</button>
    </div>
    <div class="record-list" style="text-align:center;">
        <div style="display:inline-block;">
            <table class="fn-table fn-table-text">
                <thead>
                    <tr><th>角色</th><th>姓名</th><th>状态</th></tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        
    </div>

</div>